body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#f4f6f8;
}

header{
  background:#00695c;
  color:white;
  padding:20px;
  text-align:center;
}

nav{
  background:#084e45;
  text-align:center;
}

nav a{
  color:white;
  padding:14px;
  display:inline-block;
  text-decoration:none;
}

nav a:hover{
  background:#00695c;
}

.hero{
  padding:40px;
  text-align:center;
}

.btn{
  background:#00695c;
  color:white;
  padding:12px 25px;
  text-decoration:none;
  border-radius:5px;
}

section{
  padding:40px;
  text-align:center;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
  max-width:900px;
  margin:0 auto;
}

.card{
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
  font-weight:600;
}

/* DEMO CARD */
.demo-card{
  background:white;
  padding:22px 40px;
  border-radius:16px;
  box-shadow:0 6px 18px rgba(0,0,0,0.12);
  font-size:18px;
  font-weight:600;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:12px;
  cursor:pointer;
  transition:all 0.3s ease;
}

.demo-card:hover{
  box-shadow:0 0 22px rgba(13,71,161,0.45);
  transform:translateY(-3px);
}

/* INSIDE BUTTON */
.demo-inside-btn{
  width: 200px;
  display:none;
  padding:6px 14px;
  font-size:13px;
  font-weight:600;
  border-radius:20px;
  border:none;
  background:#00695c;
  color:white;
  cursor:pointer;
}

.demo-card:hover .demo-inside-btn{
  display:inline-block;
}

/* FORM */
form{
  max-width:400px;
  margin:auto;
}

input, select, textarea, button{
  width:100%;
  padding:10px;
  margin:8px 0;
}

button{
  background:#00695c;
  color:white;
  border:none;
  cursor:pointer;
}

footer{
  background:#00695c;
  color:white;
  text-align:center;
  padding:10px;
}

.credit{
  opacity:0.8;
}
.live-btn{
  display:inline-block;
  padding:10px 22px;
  background:#2c5364;
  color:white;
  text-decoration:none;
  border-radius:6px;
  font-size:14px;
  transition:0.3s;
}

.live-btn:hover{
  background:#0f2027;
}
/* GALLERY */
.gallery{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  margin-top:30px;
}

.gallery img{
  width:100%;
  height:220px;
  object-fit:cover;
  border-radius:10px;
  cursor:pointer;
  transition:0.3s;
}

.gallery img:hover{
  transform:scale(1.05);
}

/* FULL IMAGE POPUP */
#imgBox{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background:rgba(0,0,0,0.8);
  display:none;
  justify-content:center;
  align-items:center;
  z-index:1000;
}

#imgBox img{
  max-width:90%;
  max-height:80vh;
  border-radius:10px;
}
